.box {
  position: absolute;
 }

 .box {
 	transition: all 0.1s;
 }

 .box:hover {
 	transform: scale(1.02);
 	z-index: 100;
 	border: 2px solid white;
 }

 .wrapper {
	position: relative; 
	margin: 0 auto; 
	width: 100%; 
}

.gallery-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.side-nav {
	background-color: black;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.albumTitle{
	font-size: 200%;
}

.sideNavButton {
	margin-top: 20px;
	margin-left: 5%;
}

.side-nav-header {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-nav-footer {
	text-align: center;
}

.hideme
{
    opacity:0;
}

.credits {
	font-size: 0.8rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.github-link {
	margin: 0;
	padding: 0;
}


.pg-logo {
	position: absolute;
	z-index: 200;
	margin-top: 30vh;
	opacity: 1;
}

.side-nav-logo {
	width: 100px;
	height: 100px;
}
