@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

h1, h3, a {
	font-family: SourceSansPro, sans-serif;
}

p {
	font-family: Merriweather;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: turquoise;
}

.box {
  position: absolute;
 }

 .box {
 	transition: all 0.1s;
 }

 .box:hover {
 	transform: scale(1.02);
 	z-index: 100;
 	border: 2px solid white;
 }

 .wrapper {
	position: relative; 
	margin: 0 auto; 
	width: 100%; 
}

.gallery-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.side-nav {
	background-color: black;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.albumTitle{
	font-size: 200%;
	font-weight: 900;
}

.sideNavButton {
	margin-top: 25px;
	margin-left: 5%;
	transition: all 0.3s;
}

.sideNavButton:hover{
	cursor: pointer;
	color: turquoise;
}

.side-nav-header {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-nav-footer {
	text-align: center;
}

.hideme {
    opacity:0;
}

.credits {
	font-size: 0.8rem;
}

.pg-logo {
	position: absolute;
	z-index: 200;
	margin-top: 30vh;
	opacity: 1;
}

.side-nav-logo {
	width: 100px;
	height: 100px;
}

.homepage-link {
	margin-bottom: 30px;
}

.back-to-top {
	padding: 50px;
	display: flex;
	justify-content: center;
}

.back-to-top-btn {
	border: 2px white solid;
	padding: 15px 30px;
	transition: all 0.3s;
}

.back-to-top-btn:hover {
	transform: scale(1.02);
	color: turquoise;
	border: 2px turquoise solid;
}


