.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box {
  position: absolute;
  background : #B16086;
 }

 .wrapper {
  position: relative;
  margin: 0px auto;
  background : #FE8AC0;
}